{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Description | markdownify }}</h2>
        <h2 class="headline">
        {{ .Date.Format "2006/01/02" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
    {{ partial "isso.html" . }}
</article>

<footer id="post-meta" class="clearfix">

    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    <img class="avatar" src="{{ "images/avatar.png" | absURL }}">
    <div>
        <span class="dark">{{ .Site.Params.name }}</span>
        <span>{{ .Site.Params.aboutAuthor }}</span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
</footer>

{{ template "_internal/disqus.html" . }}

{{ partial "latest-posts.html" . }}
{{ end }}
