<ul id="post-list">
    {{ range where .Paginator.Pages "Section" "ne" "" }}
        <li>
            <a href='{{ .URL }}'><aside class="dates">{{ .Date.Format "2006/01/02" }}</aside></a>
            <a href='{{ .URL }}'>{{ .LinkTitle }}<h2>{{ .Description | markdownify }}</h2></a>
        </li>
    {{ end }}
</ul>
